In [51]:
import pandas as pd

# загрузите датасет
df = pd.read_csv('G:\Мой диск\gsales.csv')  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [12]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

вопрос 1: Найдите количество уникальных игр в датасете.

In [2]:
df.Name.nunique()

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [3]:
df.JP_Sales.count()

16598

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [14]:
top = df.groupby('Genre')['NA_Sales'].count()
top.head(3)

Genre
Action       3316
Adventure    1286
Fighting      848
Name: NA_Sales, dtype: int64

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [20]:
df_filter_2015 = df[df.Year == 2015]
top_2015 = df_filter_2015.groupby('Platform')['Name'].count()
top_2015.sort_values(ascending=False).head()

Platform
PS4     137
PSV     113
3DS      86
XOne     79
PS3      74
Name: Name, dtype: int64

In [21]:
df_filter_2000 = df[df.Year == 2000]
top_2000 = df_filter_2000.groupby('Platform')['Name'].count()
top_2000.sort_values(ascending=False).head()

Platform
PS     159
PS2     82
N64     60
DC      20
GB      17
Name: Name, dtype: int64

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [30]:
df_filter = df.query('Year==2012 or Year==2013 or Year==2014 or Year==2015')
top_publisher = df_filter.groupby('Publisher')['Name'].count()
top_publisher.sort_values(ascending=False).head()

Publisher
Namco Bandai Games    285
Activision            161
Electronic Arts       156
Ubisoft               137
Nintendo              106
Name: Name, dtype: int64

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [31]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [63]:
df_filter_sport = df[['Genre', 'EU_Sales', 'Global_Sales']]
df_filter_sport = df_filter_sport.query('Genre == "Sports"')
df_filter_sport['perc'] = (df_filter_sport.Global_Sales.sum()/df_filter_sport.EU_Sales.sum())
df_filter_sport.perc[0]

3.531723497412764